{% extends "staticPageLayout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              About Me:
              <small class="text-muted">A Brief History</small>
            </div>
            <h2>Who I am</h2>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{url_for('static', filename='imgs/richWolff.JPG')}}" class="img-thumbnail" style="width:100%" />
                </div>
                <div class="col-sm-7">
                    <p>I'm a {{ age }} year old Data Scientist from the Greater NYC Market. I specialize in using existing data science models to solve general business problems.</p>
                    <p>Linkedin: <a href="{{ url_for('outboundLinks', url='https://www.linkedin.com/in/richwolff') }}" target="_blank">LinkedIn</a></p>
                    <p>Github: <a href="{{ url_for('outboundLinks', url='https://github.com/RichWolff') }}" target="_blank">Github Repositories</a></p>
                </div>
            </div>

            <h2>Who I am</h2>
            <p class="article-content">Blah blah blah</p>
          </div>
        </article>
{% endblock content %}