
{% extends "staticPageLayout.html" %}


{% block content %}

<div class="content-section">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.slug.label(class="form-control-label") }}
                    {% if form.slug.errors %}
                        {{ form.slug(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.slug.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.slug(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tags.label(class="form-control-label") }}
                    {% if form.tags.errors %}
                        {{ form.tags(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tags.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tags(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid",rows='10') }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg",rows='20') }}
                        <SCRIPT>
                                var node = document.createElement('summary');
                                $('#content').summernote({
                            		toolbar: [
                            		    ['style', ['style']],
                            			['font', ["bold", "italic", "underline", "clear"]],
                            			["fontname", ["fontname"]],
                            			["fontsize", ["fontsize"]],
                            			["color", ["color"]],
                            			["para", ["ul", "ol", "paragraph",'height']],
                            			["insert", ["link", "picture", "video", "hr","table","gallery"]],
                            			['view', ['fullscreen', 'codeview', 'help', 'undo', 'redo']],
                            			['insertNode',[node],]
                            		],
                            		callbacks :{
                                        onInit: function() {
                                            $(this).data('image_dialog_images_html', `<div class="row">{% for img in images %}<div class="col-md-2 img-item"><img class="col-md-12 thumbnail" src="{{ url_for('static', filename='imgs/posts/'+img) }}" alt="a galerie test" /><i class="fa fa-check"></i></div>{% endfor %} </div>`);
                                            $(this).data('image_dialog_title', "La galerie d'images");
                                            $(this).data('image_dialog_close_btn_text', "Fermer");
                                            $(this).data('image_dialog_ok_btn_text', "Ajouter");
                                        }
                                    }

                                });

                        </SCRIPT>
                    {% endif %}

                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.active_state.label(class="form-control-label") }}
                    <UL style="list-style: none; padding:0;">
                        {% for state in form.active_state %}
                        <small><LI >{{ state }} {{ state.label }}</LI></small>
                        {% endfor %}
                    </UL>
                 </div>
                 <div>
                    <a href="#" onClick="MyWindow=window.open(`{{ url_for('postUploadImages') }}`,'MyWindow', width='200', height='100'); return false;">Upload New Images</a>
                 </div>
            </div>
        </div>
<!--
        <div class="col-lg-8 form-group">
            <p class="form-control-label"><input type="button" value="+" onClick="addRow('dataTable')" class="btn btn-secondary btn-sm" /> Add Detail</p>
            <table id="dataTable" style="padding:0;">
                <tbody>
                    <td><input type="text" size=75 name="projectDesc_1_" value ="" class="form-control form-control-lg" id="projectDesc"></td>
                </tbody>
            </table>
        </div>
-->
    </fieldset>



        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        {% if post %}
        <div>
            <a href="{{ url_for('delete_post', post_id=post.id) }}" class="text-danger">Delete Post</a>
        </div>
        {% endif %}

    </form>

</div>




{% endblock content %}

<!-- Project Side Bar Updates -->
{% block sidebar %}
{% if project %}
<div class="content-section">
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Project Details</legend>
            <form onsubmit="quote(); return false;" class="form-signin" role="form">
                <input autocomplete="off" autofocus id="symbol" placeholder="Symbol" type="text" class="form-control"/>
                <input type="submit" value="Get Quote" class="form-control form-control-sm" style="padding: 1px;"/>
            </form>
            <p id="quote"></p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Project Tags</legend>
            <form class="form-signin" role="form">
                {{ formTags.hidden_tag() }}
                <input type="text" id="detail" name="detail" class="form-control" placeholder="" required>
                <button class="form-control form-control-sm" type="button" style="padding: 1px;">Add</button>
            </form>
        </div>
    </article>
</div>
{% endif %}
{% endblock sidebar %}