<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-9">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        &thinsp;
                    </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
            {% if current_user.is_contributor or current_user.is_admin %}
            <small><br></small>
            {% endif %}
            {% block sidebar %} {% endblock sidebar %}
        </div>
      </div>
    </main>


   {% include 'javascriptAddIns.html' %}
</body>
</html>