{% extends "blogLayout.html" %}
{% block content %}
    {% if current_user==blogPost.user_id or current_user.is_admin %}
        <small><a href="{{ url_for('update_post',post_id= blogPost.id) }}" class="text-info">Edit Post</a></small>
    {% endif %}
            <article class="media content-section">
              <div class="media-body">
                <h2>
                    {{ blogPost.title }}
                </h2>
                <p class="article-metadata">
                    <small>Created Date: {{ blogPost.date_posted.strftime('%Y-%m-%d') }} - Last Updated: {{ blogPost.last_update.strftime('%Y-%m-%d') }} - Share: <a href="{{ url_for(request.endpoint, post_id=blogPost.id) }}">Link To Post</a></small>
                </p>
                <BR>
                <p class="article-content">{{ blogPost.content|safe }}</p>
              </div>
            </article>
{% endblock content %}