{% extends "blogLayout.html" %}
{% block content %}
    {% if current_user.is_contributor or current_user.is_admin %}
        <small><a href="{{ url_for('add_project') }}" class="text-info">Add New Project</a></small>
    {% endif %}

    {% for project in projects %}
        {% if current_user.is_admin or project.Creator == current_user %}
            <article class="media content-section">
              <div class="media-body">
                <h2>
                    <a class="article-title" href="{{ url_for('project', project_id=project.id) }}">{{ project.title }}</a></br>{{ project.active_state }}
                </h2>
                <p class="article-metadata">{{ project.start_date.strftime('%Y-%m') }} to {{ project.end_date.strftime('%Y-%m') }}</p>
                <p class="article-content">{{ project.description }}</p>
                <UL>
                    {% for detail in project.details %}
                        {% if detail.attr == 'Detail' %}
                            <LI>{{ detail.value }}</LI>
                        {% endif %}
                    {% endfor %}
                </UL>


              </div>
            </article>
        {% elif project.active_state == 'Active' %}
            <article class="media content-section">
              <div class="media-body">
                <h2>
                    {{ project.title }}
                </h2>
                <p class="article-metadata">{{ project.start_date.strftime('%Y-%m') }} to {{ project.end_date.strftime('%Y-%m') }}</p>
                <p class="article-content">{{ project.description }}</p>
                <UL>
                    {% for detail in project.details %}
                        {% if detail.attr == 'Detail' %}
                            <LI>{{ detail.value }}</LI>
                        {% endif %}
                    {% endfor %}
                </UL>

              </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}