{% extends "blogLayout.html" %}
{% block content %}
        {% for project in projects %}

        <article class="media content-section">
          <div class="media-body">
            <h2>
                {% if current_user.is_authenticated %}
                    <a class="article-title" href="{{ url_for('project', project_id=project.id) }}">{{ project.title }}</a>
                {% else %}
                    {{ project.title }}
                {% endif %}
            </h2>
            <p class="article-content">{{ project.description }}</p>

          </div>
        </article>

        {% endfor %}
{% endblock content %}