{% extends "staticPageLayout.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <div>
                    <a href="{{ url_for('outboundLinks', url='https://resume.creddle.io/embed/ir2627wpbl7') }}" target="_blank">Published Resume</a>
                </div>
            <div>
                <iframe src="https://resume.creddle.io/embed/ir2627wpbl7" width="850" height="1100" seamless></iframe>
            </div>
          </div>
        </article>
{% endblock content %}